.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}
.map {
    position: relative;
    background-image: url("assets/blankmap.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vmin;
    height: 100vmin;
}

.race-container {
    position: absolute;
}
.race-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url("assets/raceicon.png");
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
}
.race-icon.completed {
    background-color: rgb(189, 255, 136);
    border-color: rgb(189, 255, 136);
}
.race-info {
    position: absolute;
    padding: 7px 7px 7px 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    color: rgb(240, 255, 253);
    white-space: nowrap;
    user-select: none;
}
.race-info h4 {
    margin: 0;
    color: aquamarine
}
.race-info table {
    text-align: left;
}
.race-info td {
    padding-left: 5px;
}